*/target
.project
.classpath
.settings
out
*/*.log
Thumbs.db
elcms/.gitignore
.DS_Store
desktop.ini
.springBeans
logs
dev.properties
**/node_modules/*
custom.config.js
**/npm-debug.log
overlays
*.iml
.idea
wmjs.web