<!DOCTYPE html>
<html lang="en" manifest="<%= htmlWebpackPlugin.options.manifest %>">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="icon name" href="../../assets/images/favicon.ico">
    <title>廊坊市文明祭奠网-用户中心</title>
</head>
<body style="background-color: #ececec">
    <div id="app"></div>
    <script type="text/javascript" src="../base.js"></script>
    <%= htmlWebpackPlugin.options.scriptPath %>
</body>
</html>
